<div>Calculator {{calculatorController.display}}</div>
<p>
<button ng-click="calculatorController.useValueOf1 ()">1</button>
<button ng-click="calculatorController.useValueOf2 ()">2</button>
<button ng-click="calculatorController.useValueOf3 ()">3</button>
<button ng-click="calculatorController.useOperationOfPlus ()">+</button>
</p>
<button ng-click="calculatorController.useValueOf4 ()">4</button>
<button ng-click="calculatorController.useValueOf5 ()">5</button>
<button ng-click="calculatorController.useValueOf6 ()">6</button>
<button ng-click="calculatorController.useOperationOfMinus ()">-</button>
</p>
<button ng-click="calculatorController.useValueOf7 ()">7</button>
<button ng-click="calculatorController.useValueOf8 ()">8</button>
<button ng-click="calculatorController.useValueOf9 ()">9</button>
<button ng-click="calculatorController.useOperationOfMultiply ()">*</button>
</p>
<button ng-click="calculatorController.useOperationOfDiv ()">/</button>
<button ng-click="calculatorController.useValueOf0 ()">0</button>
<button ng-click="calculatorController.useOperationOfEqual ()">=</button>
<button ng-click="calculatorController.useOperationOfClear ()">CA</button>
</p>
